.title2 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  margin-top: 1.5rem;
}
.title2 h1,
.title2 h4 {
  color: aliceblue;
  margin: 0;
  text-transform: uppercase;
}
.line {
  width: 35%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.line::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border: 2px solid #f84018;
  border-radius: 50%;
  position: absolute;
  right: -20px;
  top: -8px;
}

.trainingH {
  display: flex;
  width: 100%;
  justify-content: space-around;
  cursor: pointer;
}
/* .trainingH:hover{
      transform: scale(1.01);
      box-shadow: 1px 1px 20px 3370px #00000033;
  } */

.trainingD,
.trainingDi,
.dater {
  display: flex;
  justify-content: space-around;
  width: 33.3333%;
  /* padding: 1rem; */
  align-items: center;
}
.trainingDi {
  background-color: #929d96;
}
.trainingDi .dataT h3,
.dater .dataT h3 {
  /* color: #f84018; */
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}
.trainingD {
  background-color: #e5e1da;
}
.trainingD .dataT h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.dater .dataT h3 {
  color: #f84018;
}
.wraper {
  max-height: 72vh;
  overflow: auto;
}
.wraper::-webkit-scrollbar {
  width: 0.5px;
  background-color: #535151;
  border-radius: 14px;
}
.wraper::-webkit-scrollbar-thumb {
  border-radius: 14px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f84018;
}
.noCrewS {
  color: #c9c9c9;
  text-transform: uppercase;
}
.aidVcon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
.aidV {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  font-size: 10px;
}
.aidV span {
  width: 1rem;
  height: 1rem;
  background-color: #f84018;
  border-radius: 50%;
}
.aidV h3 {
  color: aliceblue;
  text-transform: uppercase;
}
.plusData {
    background-color: #e5e1da;
    width: 90%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
      opacity: 1;
    }
  }