.backDrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  background: #000000da;
  z-index: 101;
  cursor: pointer;
}

.container {
  width: 50%;
  height: 95vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  background: #000000;
  z-index: 110;
  border: 4px solid #f33716;
  border-radius: 35px;
  overflow: auto;
}
.title2 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  margin-top: 1.5rem;
}
.title2 h1,
.title2 h4 {
  color: aliceblue;
  margin: 0;
  text-transform: uppercase;
}
.line {
  width: 40%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.line::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border: 2px solid #f84018;
  border-radius: 50%;
  position: absolute;
  right: -20px;
  top: -8px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.empData {
  width: 33%;
  padding: 5px;
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}
.empData .label,
.empData .detail {
  color: #ffffff;
  text-transform: uppercase;
  font-size: medium;
  border-bottom: 2px solid;
  font-weight: 400;
}
.empData .detail {
  color: #f33716;
  font-weight: 900;
  border-bottom: none;
}

.pointingData {
  width: 100%;
  height: 80%;
  display: flex;
  gap: 20px 0;
  flex-wrap: wrap;
  align-items: center;
}
.poinHold {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poinHold span {
  color: #f84018;
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
}

.poinHold input {
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 4px 0;
  width: 15rem;
  font-size: medium;
  outline: none;
  border: 1px solid #f84018;
  background-color: transparent;
  height: 1.3rem;
  text-transform: uppercase;
  text-wrap: wrap;
}
.btnh {
  margin-left: auto;
  width: fit-content;
  margin-right: 20px;
}
.button {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: "roboto", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

.button::before {
  margin-left: auto;
}

.button:hover {
  color: #006b63;
}
.button::after,
.button::before {
  content: "";
  width: 0%;
  height: 4px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}


.button:hover::after,
.button:hover::before {
  width: 100%;
}
