.title {
  display: flex;
  margin: auto;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  font-size: 10px;
}
.title span {
  width: 1rem;
  height: 1rem;
  background-color: #f84018;
  border-radius: 50%;
}
.title h3 {
  color: aliceblue;
  text-transform: uppercase;
}
.hcContainer {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}
.data {
  width: 8rem;
  /* background-color: #f84018; */
  border-radius: 10px;
  border: 1px solid #f84018;
}
.data h3 {
  color: #f84018;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 100;
  margin: 0;
}
.data span {
  color: white;
  font-weight: 400;
}
.inputsContainer{
    width: 100%;
}
.inputD {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    right: 10px;
    top: 0;
    z-index: 2;
    background-color: #0502006c;
    border-radius: 16px;
  }
  .inputD input {
    height: 2rem;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid transparent;
    color: #fff;
    background-color: transparent;
    font-weight: bold;
    width: 10rem;
    text-align: center;
    padding: 10px;
    font-size: 10px;
  }
  .inputD input:focus,
  .inputD input:hover {
    outline: none;
    /* border-color: #f84018; */
    border-color: transparent;
    /* cursor: pointer; */
  }
  .inputD h3 {
    text-align: left;
    text-transform: uppercase;
    color: #f84018;
    font-size: 10px;

  }
  .inputD input[type="date"]::-webkit-calendar-picker-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    background-color: #f84018;
    padding: 5px;
  }
  .inputD input[type="date"]::-webkit-calendar-picker-indicator:hover {
    transform: scale(1.2);
    background-color: #fd7d61;
  }
  
.title2 {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin-top: 1rem;
  }
  .title2 h1,
  .title2 h4 {
    color: aliceblue;
    margin: 0;
    text-transform: uppercase;
  }
  .line {
    width: 35%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: relative;
  }
  .line::after {
    content: "";
    width: 1rem;
    height: 1rem;
    border: 2px solid #f84018;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: -8px;
  }