.container{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}
.pointingEmpl {
    background-color: #c9c9c9;
    width: 100%;
    -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    flex-direction: column;
    gap: 10px;
  }
  .btnCn{
    margin-left: auto;
    margin-right: 16px;
    display: flex;
    gap: 10px;
  }
  .submitShi {
    color: #c9c9c9;
    outline: none;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border-bottom: 3px solid#c9c9c9;
  }
  .submitShi:active {
    color: #f84018;
    border-bottom: 3px solid#f84018;
  }
  .noCrewS, .sae {
    color: #c9c9c9;
    text-transform: uppercase;
  }
  .sae{
    width: fit-content;
    margin: 0;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 10px;
  }
  .pointingEmpl {
    background-color: #c9c9c9;
    width: 100%;
    -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    flex-direction: column;
    gap: 10px;
  }
  .poinHoldWraper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px 0;
  }
  .poinHold {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .poinHold span {
    color: #f84018;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
  }
  .poinHold input {
    text-align: center;
    color: rgb(3, 3, 3);
    border-radius: 4px;
    padding: 4px 0;
    width: 4rem;
    font-size: 8px;
    outline: none;
    border: 1px solid #f84018;
    background-color: transparent;
    height: 1.3rem;
    text-transform: uppercase;
    text-wrap: wrap;
  }