.trainingH{
    display: flex;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
}
/* .trainingH:hover{
    transform: scale(1.01);
    box-shadow: 1px 1px 20px 3370px #00000033;
} */

.trainingD, .trainingDi{
    display: flex;
    justify-content: space-between;
    width: 50%;
    /* padding: 1rem; */
    align-items: flex-start;
}
.trainingDi{
    background-color: #929D96;
}
.trainingDi .dataT h3{
    /* color: #f84018; */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}
.trainingD .dataT h3{
    color: #f84018;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}
.searchmlle{
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 5px 0;
    width: 19rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #f84018;
    background-color: #00000077;
}