.title2 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  margin-top: 1.5rem;
}
.title2 h1,
.title2 h4 {
  color: aliceblue;
  margin: 0;
  text-transform: uppercase;
}
.line {
  width: 35%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.line::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border: 2px solid #f84018;
  border-radius: 50%;
  position: absolute;
  right: -20px;
  top: -8px;
}
.poinForm {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.poinHold {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.poinHold span {
  color: #f84018;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.poinHold input,
.poinHold input[type="text"] {
  text-align: center;
  color: rgb(3, 3, 3);
  border-radius: 4px;
  padding: 4px 0;
  width: 19rem;
  font-size: 10px;
  outline: none;
  border: 1px solid #f84018;
  background-color: transparent;
  height: 1.3rem;
  text-transform: uppercase;
  text-wrap: wrap;
}
.poinHold input[type="text"] {
  width: 20rem;
  height: 1.5rem;
  font-weight: bold;
  color: #fff;
}
.poinHold input[type="date"] {
  color: #b4b3b3;
  padding: 5px 0.5rem;
  height: 1.5rem;
  font-size: 12px;
  font-weight: bold;
}

.poinHold input[type="date"]::-webkit-calendar-picker-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
  background-color: #f84018;
  padding: 5px;
}
.poinHold input[type="date"]::-webkit-calendar-picker-indicator:hover {
  transform: scale(1.2);
  background-color: #fd7d61;
}
.poinHold input[type="time"] {
  color: #b4b3b3;
  padding: 5px 0.5rem;
  height: 1.5rem;
  font-size: 12px;
  font-weight: bold;
}

.poinHold input[type="time"]::-webkit-calendar-picker-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
  background-color: #f84018;
  padding: 5px;
}
.poinHold input[type="time"]::-webkit-calendar-picker-indicator:hover {
  transform: scale(1.2);
  background-color: #fd7d61;
}
.copenh {
  color: #bdbdbd;
  text-transform: capitalize;
  margin: 0 auto;
  width: fit-content;
  border-bottom: 2px solid #f84018;
  padding: 10px;
}

.task {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  margin: auto;
  padding: 10px 0;
}

.task input[type="checkbox"],
.task label {
  cursor: pointer;
  text-transform: uppercase;
}
/* .task label:hover {
    color: #f33716 !important;
  } */
.task label {
  width: 100%;
}
/* .task:hover {
    transform: scale(1.03);
  } */

.pointingEmpl {
  background-color: #c9c9c9;
  width: 100%;
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  flex-direction: column;
  gap: 10px;
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    opacity: 1;
  }
}
